*.csv
*.data
*.txt
*.png
*.gitignore*
*.xml
*.json
*.iml
*cpython-*
*DS_Store*
*.plist
dckmeans
algo_utils
kmeans
dckm_utils
test.cpp
exp.cpp
src/main/main
IOutils
test
*.pyc
dictionaries
/base/__pycache__/*
*.out

